asttokens==2.4.1
Cartopy==0.23.0
certifi==2024.7.4
cftime==1.6.3
cmocean==4.0.3
contourpy==1.2.1
cycler==0.12.1
decorator==5.1.1
executing==2.0.1
fonttools==4.51.0
jedi==0.19.1
kiwisolver==1.4.5
matplotlib==3.8.4
matplotlib-inline==0.1.7
netCDF4==1.6.5
numpy==1.26.4
packaging==24.0
pandas==2.2.2
parso==0.8.4
pexpect==4.9.0
pillow==10.3.0
prompt-toolkit==3.0.43
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.18.0
pyparsing==3.1.2
pyproj==3.6.1
pyshp==2.3.1
python-dateutil==2.9.0.post0
pytz==2024.1
scipy==1.13.0
shapely==2.0.4
six==1.16.0
stack-data==0.6.3
traitlets==5.14.3
typing_extensions==4.11.0
tzdata==2024.1
wcwidth==0.2.13
xarray==2024.5.0
